@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

:root {
    --main-bg-color: #111111;
    --icon-color: #0101dd;
    --btn-color: #000086;
    --btn-secondary-color: #dc143c;
    --nav-color: #f5f5f5;
    --nav: 'Rubik', sans-serif;
    --content: 'Ubuntu', sans-serif;
}

/* navigation */
#navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--nav);
    padding: 17px;
    background-color: #0e0e28;
    top: 0px;
    z-index: 999;
    transition: all 200ms ease-in-out;
}


#navigation h1, .secondary-navigation a {
    color: var(--nav-color);
    text-decoration: none;
}

.nav-controler {
    display: none;
}
#navigation h1 {
    font-weight: 900;
    letter-spacing: 1.8px;
}

.secondary-navigation a {
    font-weight: 500;
    letter-spacing: 0.5px;
}

.primary-navigation {
   font-family: var(--nav);
}

.secondary-navigation {
    list-style: none;
    display: flex;
}

.secondary-navigation li {
    margin: 0px 12px;
    text-decoration: none;
}
/* main */

/* Introduction */

#introduction_container {
    display: flex;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
}

#introduction_container .info {
    margin: 275px 310px;
    padding: 0px 80px;
    height: 200px;
}

#introduction_container .info h1, 
.info h2, 
.info p {
    font-family: var(--content);
    color: whitesmoke;
}

#introduction_container .info p {
    font-size: 27px;
}

#introduction_container .info h1 {
    font-size: 75px;
    margin: 0px 0px 0px -3px;
}
#introduction_container .info h2 {
    font-size: 40px;
    margin: 5px 0px;
}

#introduction_container .info .btn_aboutme {
    background-color: #000086;
	border-color: #000086;
	border-radius: 6px;
	border-style: solid;
	border-width: 0.1px;
	display: inline-block;
	color: #ffffff;
	font-size: 25px;
	margin: 20px 0px 0px;
	padding: 12px 36px;
	cursor: pointer;
}

/* about me */
#aboutme_container {
    background-color: rgb(255, 248, 235);
    margin: 0px 0px;
}
.title h1 {
    text-align: center;
    margin: 60px 0px;
    font-size: 40px;
}

.aboutme_info {
    padding: 9.5px;
}
.main_description {
    display: flex;
    flex-wrap: flex;
    justify-content: space-around;
    margin: 95px 302px;
    align-items: center;
}
.main_description img {
    display: inline;
    height: 400px;
    width: 400px;
}
.description {
    padding: 20px;
	width: 600px;
	margin: 0px;
}

.description h1, .description p, .title h1 {
    font-family: 'Ubuntu', sans-serif;
    padding: 5px;
}

.description h1 {
	font-size: 28px;
	font-weight: 600;
}

.description p {
	text-align: justify;
	font-size: 18px;
}

.btn_myskills {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
	margin: 20px 0px 0px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
	cursor: pointer;
}
/* myskills */
#myskills_container {
    background-color: #111;
    padding: 100px 0px;
}
#myskills_container h1 {
    font-family: Ubuntu;
	font-size: 38px;
	font-weight: 500;
	margin: 0px 0px 15px;
	padding: 0px 0px 30px;
	text-align: center;
	color: whitesmoke;
    font-weight: 900;
}
.grp-card-skills {
	display: flex;
	justify-content: space-around;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	margin: 0px 120px;
}
.card-skills {
	text-align: center;
	width: calc(20% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
	background-color: #222;
    height: 320px;
}
.card-skills i {
	padding: 10px;
	text-align: center;
	display: inline-block;
	font-size: 50px;
	font-weight: 900;
	line-height: 50px;
	color: #0101dd;
}
.card-skills h1 {
	font-family: 'Rubik', sans-serif;
	font-size: 28px;
	color: white;
}
.card-skills h2 {
	font-family: 'Rubik', sans-serif;
	color: whitesmoke;
}

.card-skills:hover {
    transition: all 350ms ease-in-out;
    background-color: red;
}

/* social media */
#social_container {
    background-color: #111;
    padding: 100px 0px;
}
#social_container h1 {
    font-family: Ubuntu;
	font-size: 38px;
	font-weight: 500;
	margin: 0px 0px 15px;
	padding: 0px 0px 30px;
	text-align: center;
	color: whitesmoke;
    font-weight: 900;
}
#social_container .card-social h1 {
    font-size: 25px;
}
.grp-card-social {
	display: flex;
	justify-content: space-around;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	margin: 0px 120px;
}
.card-social {
	text-align: center;
	width: calc(20% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 40px 40px;
    cursor: pointer;
    transition: all 0.3s ease;
	background-color: #222;
    height: 210px;
}
.card-social i {
	padding: 10px;
	text-align: center;
	display: inline-block;
	font-size: 50px;
	font-weight: 900;
	line-height: 50px;
	color: #0101dd;
}

.card-social:hover {
    transition: all 350ms ease-in-out;
    background-color: red;
}

/* Footer */
footer {
	font-family: 'Rubik', sans-serif;
    background: red;
    padding: 15px 23px;
    color: #fff;
	font-weight: 900;
    text-align: center;
}
footer span a{
	font-family: 'Rubik', sans-serif;
    color: #000086;
	font-weight: 900;
    text-decoration: none;
    margin: 0px 5px;
}
footer span a:hover{
    text-decoration: underline;
}

/* queries */
@media (max-width: 912px) {

    #introduction_containter {
        display: flex;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 100vh;
    }
    #introduction_container .info {
        margin: 310px 132px;
        padding: 0px 4px;
        height: 200px;
    }
    #introduction_container .info p {
        font-size: 34px;
    }
    
    #introduction_container .info h1 {
        font-size: 63px;
        margin: 0px 0px 0px -3px;
    }
    #introduction_container .info h2 {
        font-size: 34px;
        margin: 5px 0px;
    }
        /* aboutme */
    .aboutme_info {
        padding: 10px;
    }
    .main_description {
        margin: 40px 0px;
        display: flex;
    }
    .main_description img {
        height: 310px;
        width: 310px;
        margin: 0px 25px;
    }
    .description {
        padding: 20px;
		width: 360px;
        margin: 0px 0px;
    }

    .description h1, .description p, .title h1 {
        font-family: 'Ubuntu', sans-serif;
        padding: 5px;
    }

    .description h1 {
	    font-size: 30px;
	    font-weight: 600;
    }

   .description p {
	    text-align: justify;
	    font-size: 20px;
    }
        /* myskills */
	.grp-card-skills {
		display: grid;
	}
	.card-skills {
		width: 400px;
		margin: 15px 0px;
	}

    .grp-card-social {
        display: grid;
    }
    .card-social {
        width: 400px; 
        margin: 15px 0px;
    }
}
@media (max-width: 820px) {
    #introduction_containter {
        display: flex;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 100vh;
    }
    #introduction_container .info {
        margin: 180px 100px;
        padding: 0px 4px;
        height: 200px;
    }
    #introduction_container .info p {
        font-size: 27px;
    }
    
    #introduction_container .info h1 {
        font-size: 53px;
        margin: 0px 0px 0px -3px;
    }
    #introduction_container .info h2 {
        font-size: 27px;
        margin: 5px 0px;
    }
        /* aboutme */
    .aboutme_info {
        padding: 10px;
    }
    .main_description {
        margin: 40px 0px;
        display: flex;
    }
    .main_description img {
        height: 310px;
        width: 310px;
        margin: 0px 25px;
    }
    .description {
        padding: 20px;
		width: 360px;
        margin: 0px 0px;
    }

    .description h1, .description p, .title h1 {
        font-family: 'Ubuntu', sans-serif;
        padding: 5px;
    }

    .description h1 {
	    font-size: 30px;
	    font-weight: 600;
    }

   .description p {
	    text-align: justify;
	    font-size: 20px;
    }
        /* myskills */
	.grp-card-skills {
		display: grid;
	}
	.card-skills {
		width: 400px;
		margin: 15px 0px;
	}

    .grp-card-social {
        display: grid;
    }
    .card-social {
        width: 400px; 
        margin: 15px 0px;
    }
}
@media (max-width: 768px) {
     /* navigation */
    .primary-navigation  {
        position: fixed;
        inset: 0 0 0 30%;
        background: steelblue;
        background: hsl(0 0% 100% / 0.1);;
        backdrop-filter: blur(1rem);
        z-index: 1000;
        transform: translateX(100%);
        transition: 200ms ease;
    }
    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }
    .nav-controler {
        aspect-ratio: 1;
        width: 2.5rem;
        z-index: 9999;
        background: url(../images/navbar.svg);
        background-repeat: no-repeat;
        border: 0;
        margin: 0px 0px 0px 120px;
        display: block;
    }
    #navigation .primary-navigation .secondary-navigation {
        position: fixed;
        flex-direction: column;
        padding: min(20vh, 10rem) 2em;
    }
    #navigation .primary-navigation .secondary-navigation li {
        padding: 5px;
        margin: 25px 20px;
    }
    #navigation .primary-navigation .secondary-navigation li a {
        color: white;
        font-weight: 900;
    }
    #introduction_containter {
        display: flex;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 100vh;
    }
    #introduction_container .info {
        margin: 200px 119px;
        padding: 0px 4px;
        height: 200px;
    }
    #introduction_container .info p {
        font-size: 27px;
    }
    
    #introduction_container .info h1 {
        font-size: 53px;
        margin: 0px 0px 0px -3px;
    }
    #introduction_container .info h2 {
        font-size: 27px;
        margin: 5px 0px;
    }
        /* aboutme */
    .aboutme_info {
        padding: 10px;
    }
    .main_description {
        margin: 40px 0px;
        display: flex;
    }
    .main_description img {
        height: 310px;
        width: 310px;
        margin: 0px 25px;
    }
    .description {
        padding: 20px;
		width: 360px;
        margin: 0px 0px;
    }
        /* myskills */
	.grp-card-skills {
		display: grid;
	}
	.card-skills {
		width: 350px;
		margin: 15px 0px;
	}

    .grp-card-social {
        display: grid;
    }

    .card-social {
        width: 350px; 
        margin: 15px 0px;
    }
} 

@media (max-width: 560px) {
    /* navigation */
    .primary-navigation  {
        position: fixed;
        inset: 0 0 0 30%;
        background: steelblue;
        background: hsl(0 0% 100% / 0.1);;
        backdrop-filter: blur(1rem);
        z-index: 1000;
        transform: translateX(100%);
        transition: 200ms ease;
    }
    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }
    .nav-controler {
        aspect-ratio: 1;
        width: 2.5rem;
        z-index: 9999;
        background: url(../images/navbar.svg);
        background-repeat: no-repeat;
        border: 0;
        margin: 0px 0px 0px 120px;
        display: block;
    }
    #navigation .primary-navigation .secondary-navigation {
        position: fixed;
        flex-direction: column;
        padding: min(20vh, 10rem) 2em;
    }
    #navigation .primary-navigation .secondary-navigation li {
        padding: 5px;
        margin: 25px 20px;
    }
    #navigation .primary-navigation .secondary-navigation li a {
        color: white;
        font-weight: 900;
    }
    /* main */
    /* Introduction */
    #introduction_containter {
        display: flex;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 100vh;
    }
    #introduction_container .info {
        margin: 180px 20px;
        padding: 0px 4px;
        height: 200px;
    }
    #introduction_container .info p {
        font-size: 27px;
    }
    
    #introduction_container .info h1 {
        font-size: 53px;
        margin: 0px 0px 0px -3px;
    }
    #introduction_container .info h2 {
        font-size: 27px;
        margin: 5px 0px;
    }

    /* aboutme */
    .aboutme_info {
        padding: 7px;
    }
    .main_description {
        margin: 0px 0px;
        display: list-item;
    }
    .main_description img {
        height: 350px;
        width: 350px;
        margin: 0px 18px;
    }
    .description {
        padding: 20px;
		width: 390px;
        margin: 0px 0px;
    }

    /* myskills */
	.grp-card-skills {
		display: grid;
	}
	.card-skills {
		width: 350px;
		margin: 15px 0px;
	}

    .grp-card-social {
        display: grid;
    }

    .card-social {
        width: 350px; 
        margin: 15px 0px;
    }

}

@media (max-width: 480px) {
    
    /* aboutme */
    .aboutme_info {
        padding: 7px;
    }
    .main_description {
        margin: 0px 0px;
        display: list-item;
    }
    .main_description img {
        height: 310px;
        width: 310px;
        margin: 0px 25px;
    }
    .description {
        padding: 20px;
		width: 360px;
        margin: 0px 0px;
    }

        /* myskills */
	.grp-card-skills {
		display: grid;
	}
	.card-skills {
		width: 340px;
		margin: 15px 0px;
	}

    .grp-card-social {
        display: grid;
    }

    .card-social {
        width: 350px; 
        margin: 15px 0px;
    }
}