<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>John Layda</title>
    <!-- CSS -->
    <link rel="stylesheet" href="navigation.css">
    <link rel="stylesheet" href="footer.css">
</head>

<body>

    <header>

        <div data-aos="fade-down" id="navigation">

            <div id="navigation-function">

                <div class="header-title">
                    <h1>Layda</h1>
                </div>

                <button class="nav-controler" arial-controls="primary-navigation" arial-expanded="false">
                    <span class="sr-only">Menu</span>
                </button>

                <nav class="primary-navigation">

                    <ul class="secondary-navigation">

                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/projects">Projects</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>

                    </ul>

                </nav>

            </div>
        </div>

    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        <span>Created By <a href="https://github.com/Chysev">Chysev</a> | <span class="far fa-copyright"></span>
            All
            rights reserved.</span>
    </footer>


</body>

</html>