@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap");
body {
  background-color: #121212;
}
h1 {
  user-select: none;
  font-size: 11.2rem;
  font-family: "Recursive", sans-serif;
  color: whitesmoke;
  filter: brightness(95%);
  text-align: center;
  cursor: pointer;
}
h1:hover {
  transition: ease 0.5s;
  text-shadow: 10px 10px 20px white;
}

h1:active {
  transition: ease 0.2s;
  text-shadow: 10px 10px 20px blue;
}
