<!-- Open Source -->
<div id="opensource">
    <div class="container">

        <div class="title">
            <h1>Open Source</h1>
        </div>

        <div class="grp-card-source">
            <div class="card-source">
                <img src="" alt="">
                <h1>Express</h1>
                <p>Express Bolierplate with a Guide for begginers who wants to learn about ExpressJS</p>
            </div>
            <div class="card-source">
                <img src="" alt="">
                <h1>Express SSL</h1>
                <p>Express SSL Bolierplate with a Guide for begginers who wants to learn more about backend</p>
            </div>
            <div class="card-source">
                <img src="" alt="">
                <h1>Pageclip</h1>
                <p>An example of Pageclip forms</p>
            </div>
            <div class="card-source">
                <img src="" alt="">
                <h1>Minecraft Website</h1>
                <p>Open Source Minecraft Website that can everyone easily understand and edit the code</p>
            </div>
            <div class="card-source">
                <img src="" alt="">
                <h1>create-ejs-app</h1>
                <p>Express EJS App with a good folder structure and easily to install and understand for begginers
                    created by John Layda. You can simply 'npx create-ejs-app' and congratulation you now have a
                    Frontend + Backend Web App</p>
            </div>
        </div>
    </div>
</div>