@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
:root {
  --background: #121212;
  --primary: #bb86fc;
  --primary-variant: #3700b3;
  --secondary: #03dac6;
}
form {
  margin: 0px 8px;
}
form h1 {
  margin: 10px 0px;
  letter-spacing: 2px;
  font-family: "Ubuntu", sans-serif;
}

form h2 {
  margin: 10px 0px;
  font-family: "Ubuntu", sans-serif;
}
input {
  height: 3.5rem;
  width: 30rem;
  margin: 10px 0px;
  padding: 10px;
  font-size: 18px;
  border-radius: 7.2px;
}
textarea {
  width: 30rem;
  border-radius: 7.2px;
  margin: 10px 0px;
  font-size: 18px;
  padding: 10px;
  text-align: justify;
  font-family: "Ubuntu", sans-serif;
}
button {
  background-color: #dc143c;
}

button:hover {
  background-color: transparent;
  transition: ease-in 0.3s;
}
