@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
:root {
  --background: #121212;
  --primary: #bb86fc;
  --primary-variant: #3700b3;
  --secondary: #03dac6;
}

/* Introduction */

#introduction {
  filter: contrast(95%);
}

#container_introduction {
  font-family: "Ubuntu", sans-serif;
}

#container_introduction p {
  font-size: 27px;
  margin: 8px 2px;
}

#container_introduction h1 {
  font-size: 75px;
  margin: 8px 2px;
}

#container_introduction h2 {
  font-size: 40px;
  margin: 8px 2px;
}
.typewrite {
  color: crimson;
}
#aboutme-btn {
  background-color: crimson;
  border-color: crimson;
  display: inline-block;
  cursor: pointer;
}

#aboutme-btn:hover {
  transition: all 0.3s ease;
  background-color: transparent;
  color: crimson;
}

/* About Me */
#aboutme {
  filter: contrast(85%);
}
#aboutme-title {
  text-align: center;
}
#container-aboutme {
  justify-content: space-between;
}

#container-aboutme img {
  height: 400px;
  width: 400px;
}

#container-aboutme-text {
  font-family: "Ubuntu", sans-serif;
}

#container-aboutme-text h1 {
  font-size: 30px;
  font-weight: 800;
}
#container-aboutme-text p {
  font-size: 20px;
  text-align: justify;
  font-weight: lighter;
}

#container-aboutme-tools h1 {
  font-size: 20px;
}
#container-aboutme-tools img {
  height: 25px;
  width: 25px;
  margin: 10px 2px;
}

#MySkills,
#Social {
  border: 2px solid crimson;
  transition: all 0.3s ease;
  cursor: pointer;
}

#MySkills:hover,
#Social:hover {
  transition: all 0.3s ease;
  background-color: transparent;
  color: crimson;
}

/* My Skills */

#container-myskills {
  display: flex;
}

#card-skills {
  height: 300px;
  width: 400px;
  margin: 0px 5rem;
  background: #222;
  border: 0;
  border-radius: 12px;
}

#card-skills i {
  font-size: 75px;
  margin: 15px 154px;
  color: crimson;
}
#card-skills h1,
#card-skills h2,
#card-skills h3 {
  margin: 10px 50px;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

#card-skills h2,
#card-skills h3 {
  font-size: 24px;
}

#card-skills h1 {
  font-size: 37px;
}
/* My Skills Percentages */

#myskills-percent {
  filter: contrast(85%);
}

#percent-container {
  justify-content: space-around;
}

#percent-container h1 {
  font-family: "Ubuntu", sans-serif;
}

#bars {
  flex-direction: column;
}
#percentage-95 {
  margin: 6px 40vh;
}
#percentage-90 {
  margin: 6px 41vh;
}
#percentage-85 {
  margin: 6px 34vh;
}
#percentage-85-2 {
  margin: 6px 37vh;
}
#percentage-80 {
  margin: 6px 34vh;
}
#percentage-50 {
  margin: 6px 37.1vh;
}
#percentage-30 {
  margin: 6px 43.3vh;
}
#text-line {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  align-items: center;
}
#line {
  width: 100%;
  height: 8px;
  background-color: #d3d3d3;
  border-radius: 12px;
}

#line-html {
  width: 95%;
  height: 8px;
  background-color: red;
  border-radius: 12px;
}

#line-ejs {
  width: 90%;
  height: 8px;
  background-color: red;
  border-radius: 12px;
}
#line-css {
  width: 90%;
  height: 8px;
  background-color: red;
  border-radius: 12px;
}
#line-javascript {
  width: 85%;
  height: 8px;
  background-color: red;
  border-radius: 12px;
}

#line-express {
  width: 85%;
  height: 8px;
  background-color: red;
  border-radius: 12px;
}

#line-https {
  width: 80%;
  height: 8px;
  background-color: red;
  border-radius: 12px;
}

#line-python {
  width: 50%;
  height: 8px;
  background-color: red;
  border-radius: 12px;
}

#line-C {
  width: 30%;
  height: 8px;
  background-color: red;
  border-radius: 12px;
}

/* Social */

.container-social {
  display: flex;
}

.grp-card-social {
  display: flex;
  height: 40vh;
  margin: 10vh 12.4vh;
  align-items: center;
}
.card-social {
  height: 200px;
  width: 400px;
  margin: 0px 5rem;
  background: #222;
  border: 0;
  border-radius: 12px;
  text-align: center;
}

.card-social i {
  font-size: 75px;
  margin: 15px 154px;
  color: crimson;
}

.card-social a {
  font-size: 37px;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  font-weight: 600;
  color: white;
}
