<head>
    <!-- CSS -->
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="Contact.css">
    <link rel="stylesheet" href="aos.css">

    <!-- Javascript -->
    <script src="global.js" defer></script>
    <script src="aos.js" defer></script>
</head>


<body>
    <%- include("../components/Contact/1_Page.ejs") %>
</body>