<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Javascript -->
    <script src="https://unpkg.com/aos@next/dist/aos.js" defer></script>
    <script src="global.js" defer></script>
</head>

<body>
    <%- include("../components/Contact/1_Page.ejs") %>
</body>

<!-- Styles -->

<styles>
</styles>