/* Footer */
footer {
  font-family: "Ubuntu", sans-serif;
  background: crimson;
  padding: 15px 23px;
  color: #fff;
  font-weight: 900;
  text-align: center;
}
footer span a {
  font-family: "Ubuntu", sans-serif;
  color: #000086;
  font-weight: 900;
  text-decoration: none;
  margin: 0px 5px;
}
footer span a:hover {
  text-decoration: underline;
}
