/* Header */

#navigation {
  user-select: none;
  display: flex;
  height: 8vh;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  top: 0;
  z-index: 9999;
  position: fixed;
  transition: all 0.3s ease-in;
  background-color: transparent;
  font-family: "Varela Round", sans-serif;
}

#navigation-function {
  display: flex;
  justify-content: space-around;
  width: 110rem;
  position: fixed;
  transition: all 0.3s ease-out;
  color: whitesmoke;
}
.header-title h1 {
  cursor: pointer;
  font-weight: 900;
  font-family: "Ubuntu", sans-serif;
  font-size: 35px;
}
.header-title h1:hover {
  transition: all 0.2s ease-in;
  color: blue;
}
/* nav controler */
.nav-controler {
  display: none;
}

/* Navigation List */

.secondary-navigation {
  display: flex;
}

.secondary-navigation li {
  margin: 10px 20px;
  list-style: none;
}
.secondary-navigation li a {
  text-decoration: none;
  cursor: pointer;
  color: whitesmoke;
  font-weight: 600;
}

.secondary-navigation li a:hover {
  transition: all 0.2s ease-in;
  color: blue;
}
