<!-- Introduction -->

<div id="introduction">
    <div class="container" data-aos="fade-down">
        <p>Hello, my name is</p>
        <h1>John Layda</h1>
        <h2 class="mx-auto ">
            A&nbsp<a class="typewrite" data-period="2500"
                data-type='[ "Web Developer", "Programmer", "Basketball Player" ]'><span class="wrap"></span></a></h2>
        <a href="#aboutme">
            <button class="aboutme-btn">About Me</button>

        </a>
    </div>
</div>