<!-- AboutMe -->

<div id="aboutme">
    <div class="container">
        <div class="left" data-aos="fade-down">
            <img src="Layda.png" alt="Layda">
        </div>
        <div class="right">
            <h1 data-aos="fade-down">Hi I am John Layda</h1>
            <h2 data-aos="fade-up">I am John Layda. A Programmer, Web Developer, Student GitHub Developer and a
                Basketball player. I am
                currently a Senior High School Student Studying in The Philippine School Dubai.</h2>
            <div class="down">
                <h1 data-aos="fade-dowdata-aos=" fade-up" n">Language and Tools</h1>
                <img data-aos="fade-up" src="visual-studio-code.png" alt="VSCODE">
                <img data-aos="fade-down" src="html.png" alt="HTML">
                <img data-aos="fade-up" src="css.png" alt="CSS">
                <img data-aos="fade-down" src="javascript.png" alt="JAVASCRIPT">
                <img data-aos="fade-up" src="vuejs-brands.svg" alt="REACT">
                <img data-aos="fade-down" src="nodejs.png" alt="NODEJS">
                <img data-aos="fade-up" src="mongodb.png" alt="MONGODB">
                <img data-aos="fade-down" src="git.png" alt="GIT">
                <img data-aos="fade-up" src="github.png" alt="GITHUB">
                <img data-aos="fade-down" src="terminal.png" alt="TERMINAL">
            </div>
            <div class="grp-btn" data-aos="fade-up">
                <a href=""><button class="MySkills">My Skills</button></a>
                <a href=""><button class="Social">Social</button></a>
            </div>
        </div>
    </div>
</div>