<!-- AboutMe -->

<div id="aboutme">
    <div class="container">
        <div class="left">
            <img src="Layda.png" alt="Layda">
        </div>
        <div class="right">
            <h1>Hi I am John Layda</h1>
            <h2>I am John Layda. A Programmer, Web Developer, Student GitHub Developer and a Basketball player. I am
                currently a Senior High School Student Studying in The Philippine School Dubai.</h2>
            <div class="down">
                <h1>Language and Tools</h1>
                <img src="visual-studio-code.png" alt="VSCODE">
                <img src="html.png" alt="HTML">
                <img src="css.png" alt="CSS">
                <img src="javascript.png" alt="JAVASCRIPT">
                <img src="react.png" alt="REACT">
                <img src="nodejs.png" alt="NODEJS">
                <img src="mongodb.png" alt="MONGODB">
                <img src="git.png" alt="GIT">
                <img src="github.png" alt="GITHUB">
                <img src="terminal.png" alt="TERMINAL">
            </div>
            <div class="grp-btn">
                <a href=""><button class="MySkills">My Skills</button></a>
                <a href=""><button class="Social">Social</button></a>
            </div>
        </div>
    </div>
</div>