<!-- MySkills -->
<div id="myskills">
    <div class="grp-card-skill">
        <div class="card-skills">
            <i class="fa-solid fa-paintbrush"></i>
            <h1>Web Developer</h1>
            <h2>HTML, CSS & Javascript</h2>
        </div>
        <div class="card-skills">
            <i class="fa-solid fa-code"></i>
            <h1>Software Developer</h1>
            <h2>Python & C++</h2>
        </div>
        <div class="card-skills">
            <i class="fa-solid fa-server"></i>
            <h1>Server Developer</h1>
            <h2>Nginx, http & https</h2>
        </div>
    </div>
</div>