<!-- MySkills -->
<div id="myskills">
    <div class="grp-card-skills">
        <div class="card-skills" data-aos="fade-down">
            <i class="fa-solid fa-paintbrush" data-aos="fade-up"></i>
            <h1 data-aos="fade-down">Web Developer</h1>
            <h2 data-aos="fade-up">HTML, CSS & JS</h2>
        </div>
        <div class="card-skills" data-aos="fade-up">
            <i class="fa-solid fa-code" data-aos="fade-down"></i>
            <h1 data-aos="fade-up">Software Developer</h1>
            <h2 data-aos="fade-down">Python & C++</h2>
        </div>
        <div class="card-skills" data-aos="fade-down">
            <i class="fa-solid fa-server" data-aos="fade-up"></i>
            <h1 data-aos="fade-down">Server Developer</h1>
            <h2 data-aos="fade-up">Nginx, http & https</h2>
        </div>
    </div>
</div>