<!-- MySkills Percent -->
<div id="myskillspercent">
    <div class="bars">
        <!-- HTML -->
        <div class="span-html">
            <span>HTML</span>
            <span class="percent-line">90%</span>
        </div>
        <div class="white-line">
            <div class="red-html"></div>
        </div>

        <!-- CSS -->
        <div class="span-css">
            <span>CSS</span>
            <span class="percent-line">85%</span>
        </div>
        <div class="white-line">
            <div class="red-css"></div>
        </div>

        <!-- JAVASCRIPT -->
        <div class="span-javascript">
            <span>JAVASCRIPT</span>
            <span class="percent-line">85$</span>
        </div>
        <div class="white-line">
            <div class="red-javascript"></div>
        </div>

        <!-- PYTHON -->
        <div class="span-python">
            <span>PYTHON</span>
            <span class="percent-line">50%</span>
        </div>
        <div class="white-line">
            <div class="red-python"></div>
        </div>

        <!-- C -->
        <div class="span-c++">
            <span>C++</span>
            <span class="percent-line">30%</span>
        </div>
        <div class="white-line">
            <div class="red-c++"></div>
        </div>
    </div>
</div>