<!-- Social -->
<div id="social">
    <div class="grp-card-social">
        <div class="card-social">
            <i class="fa-brands fa-github"></i>
            <a href="https://github.com/Chysev">
                GitHub
            </a>
        </div>
        <div class="card-social">
            <i class="fa-brands fa-facebook"></i>
            <a href="https://facebook.com/Chysev">
                Facebook
            </a>
        </div>
    </div>
</div>