<header>

  <div data-aos="fade-down" id="navigation">

    <div id="navigation-function">

      <div class="header-title">
        <h1>Layda</h1>
      </div>

      <button class="nav-controler" arial-controls="primary-navigation" arial-expanded="false">
        <span class="sr-only">Menu</span>
      </button>

      <nav class="primary-navigation">

        <ul class="secondary-navigation">

          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/projects">Projects</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>

        </ul>

      </nav>

    </div>
  </div>

</header>