<content>
    <div class="introduction">
        <div data-aos="fade-down" class="container-introduction">
            <p>Hi, my name is</p>
            <h1>John Layda</h1>
            <h2 class="mx-auto">
                A&nbsp<a class="typewrite" data-period="2500"
                    data-type='[ "Full Stack Developer", "Basketball player" ]'><span class="wrap"></span></a>
            </h2>
            <a href="#aboutme"><button class="aboutme-btn">About Me</button></a>
        </div>
    </div>
</content>