<content>
    <div id="myskills-percent">

        <div id="percent-container">
            <h1 data-aos="fade-right">My creative skills & experiences.</h1>
            <div id="bars">

                <div id="text-line" data-aos="fade-down">
                    <span>HTML</span>
                    <span id="percentage-95">95%</span>
                </div>

                <div id="line">
                    <div id="line-html" data-aos="fade-left"></div>
                </div>


                <div id="text-line" data-aos="fade-down">
                    <span>EJS</span>
                    <span id="percentage-90">90%</span>
                </div>

                <div id="line">
                    <div id="line-ejs" data-aos="fade-left"></div>
                </div>


                <div id="text-line" data-aos="fade-down">
                    <span>CSS</span>
                    <span id="percentage-90">90%</span>
                </div>

                <div id="line">
                    <div id="line-css" data-aos="fade-left"></div>
                </div>


                <div id="text-line" data-aos="fade-down">
                    <span>JavaScript</span>
                    <span class="percentage-85">85%</span>
                </div>

                <div id="line">
                    <div id="line-javascript" data-aos="fade-left"></div>
                </div>


                <div id="text-line" data-aos="fade-down">
                    <span>Express</span>
                    <span id="percentage-85-2">85%</span>
                </div>

                <div id="line">
                    <div id="line-express" data-aos="fade-left"></div>
                </div>


                <div id="text-line" data-aos="fade-down">
                    <span>http/https</span>
                    <span id="percentage-80">80%</span>
                </div>

                <div id="line">
                    <div id="line-https" data-aos="fade-left"></div>
                </div>


                <div id="text-line" data-aos="fade-down">
                    <span>Python3</span>
                    <span id="percentage-50">50%</span>
                </div>

                <div id="line">
                    <div id="line-python" data-aos="fade-left"></div>
                </div>


                <div id="text-line" data-aos="fade-down">
                    <span>C</span>
                    <span id="percentage-30">30%</span>
                </div>

                <div id="line">
                    <div id="line-C" data-aos="fade-left"></div>
                </div>


            </div>
        </div>

    </div>
</content>