<content>
    <div id="social">
        <div class="container-social">
            <div class="grp-card-social">
                <div class="card-social" data-aos="fade-right">
                    <i class="fa-brands fa-github" data-aos="fade-right"></i>
                    <a href="https://github.com/Chysev">GitHub</a>
                </div>
                <div class="card-social" data-aos="fade-down">
                    <i class="fa-brands fa-facebook" data-aos="fade-down"></i>
                    <a href="https://fb.com/Chysev">Facebook</a>
                    <p></p>
                </div>
                <div class="card-social" data-aos="fade-left">
                    <i class="fa-brands fa-instagram" data-aos="fade-left"></i>
                    <a href="#">Instagram</a>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</content>